/*Prevent Problems on Different Browsers*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Libre Baskerville", serif;
}

/* header */
header {
    background-color: #F7F6F3;
    border-bottom: solid 2px #DEE4E6;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

header img {
    width: 85px;
    height: auto;
}

header .brand {
    display: flex;
    flex-direction: column;
}

header span {
    color: #587B89;
    font-size: 1.6rem;
    font-weight: 700;
}

header p {
    color: #606060;
}

/*navigation*/
/* small screen nav */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #324c57;
        text-decoration: none;
        border-bottom: solid 1px #eee;
        font-weight: 700;
    }

    nav .active a {
        background-color: #324c57;
        color: white;
        background-image: linear-gradient(to bottom, #324c57, #587B89);
    }
}

/* large screen nav */
@media only screen and (min-width: 601px) {
    nav {
        background-color: #DEE4E6;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    nav a {
        display: flex;
        align-items: center;
        min-height: 48px;
        padding: .83rem 1rem;
        text-decoration: none;
        font-weight: 700;
        color: #587B89;
    }

    nav a:hover {
        color: #93B8AB;
    }

    nav li.active a {
        background-color: #F7F6F3;
        border-bottom: 3px solid #93B8AB;
    }
}

/* main */

main {
    background-color: #F7F6F3;
    padding: 1rem 10px;
    border: 2px solid #DEE4E6;
    border-radius: 6px;
}

main h1 {
    color: #324c57;
}

main h2 {
    color: #324c57;
    margin-bottom: .5rem;
}

main h3 {
    color: #324c57;
    margin-bottom: .5rem;
}

main h4 {
    color: #324c57;
    margin-bottom: .5rem;
}

main p {
    color: #606060;
    margin: 0;
}

main ul {
    color: #606060;
    margin: 0 0 1rem 1.25rem;
    padding-left: 1rem;
    list-style-type: circle;
}

main ul li {
    line-height: 130%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main ol {
    color: #606060;
    margin: 0 0 1rem 1.25rem;
    padding-left: 1rem;
}

main ol li {
    line-height: 130%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main dl dt {
    color: #324c57;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

main dl dd {
    color: #606060;
    line-height: 100%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: #324c57;
}

main em {
    font-weight: 400;
}

main a {
    color: #587B89;
}

main a:hover {
    color: rgb(147, 184, 171);
}

.hero {
    width: 100%;
    height: auto;
}

/* images */

figure.floatr {
    margin: 0 0 0 10px;
    width: 30%;
    float: right;
}

figure.floatr img {
    width: 100%;
    height: auto;
}

figure.floatr figcaption {
    color: #324c57;
    text-align: center;
    font-size: .75rem;
}

/* gallery */

div.gallery img {
    border-radius: 5px;
}

div.gallery img:hover {
    box-shadow: 0px 0px 10px #587B89;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .75rem;
    color: #324c57;
}

/* web form */

.reflect {
    color: #606060
}

.reflect select {
    color: #606060;
}

.reflect fieldset {
    border: 1px solid #93B8AB;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.reflect fieldset p {
    margin: .5rem;
    font-size: .8rem;
}

.reflect legend {
    color: #93B8AB;
    font-size: .8rem;
    font-weight: 700;
    padding: 0 .5rem;
}

.reflect label {
    margin: .5rem;
}

.reflect label,
.reflect select,
.reflect [type=text],
.reflect [type=email],
.reflect [type=tel],
.reflect textarea {
    display: block;
}

.reflect [type=text],
.reflect [type=email],
.reflect select,
.reflect [type=tel],
.reflect textarea {
    border: solid 1px #587B89;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
}

.reflect textarea {
    height: 6rem;
    background-color: #DEE4E6
}

.reflect :required,
.reflect select {
    background-color: #DEE4E6;
}

.reflect [type=submit] {
    background-color: #324c57;
    border: 2px solid #131d22;
    border-radius: .3rem;
    padding: 1rem;
    color: #F7F6F3;
    font-family: "Libre Baskerville", serif;
    margin: 1rem 0 1rem 2vw;
}

/* table */
table.thoughtwork {
    width: 100%;
    border-collapse: collapse;
}

table.thoughtwork th {
    background-color: #587B89;
    color: white;
    padding: .6rem 2%;
    text-align: left;
}

table.thoughtwork td {
    color: #324c57;
    padding: .4rem 2%;
}

table.thoughtwork tr:nth-child(odd) {
    background-color: #e9eaeb;
}

table.thoughtwork tr:hover {
    background-color: #c4d4db;
}

/* footer */

footer {
    color: #324c57;
    background-color: #DEE4E6;
    font-size: .8rem;
    clear: both;
}

footer h3 {
    color: #324c57;
    margin: 0;
    padding: 1rem;
    text-align: left;

}

footer address {
    color: #606060;
    text-align: left;
    padding: 0 1rem;
}

footer p {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
}

footer a {
    color: #587B89;
}

footer a:hover {
    color: #93B8AB;
}

header,
nav,
main,
footer {
    max-width: 64rem;
    margin: 0 auto;
}